:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: hsl(327, 73%, 3%);
    --secondary-color: hsl(0, 0%, 98%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: hsl(111, 100%, 54%);
    --secondary-color: hsl(327, 73%, 3%);
  }
}

html[data-theme="light"] {
  --primary-color: hsl(327, 73%, 3%);
  --secondary-color: hsl(0, 0%, 98%);
}

html[data-theme="dark"] {
  --primary-color: hsl(111, 100%, 54%);
  --secondary-color: hsl(327, 73%, 3%);
}

/* .dark-mode {
  --primary-color: #f0f0f0;
  --secondary-color: #181818;
} */
